<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,
    user-scalable=no" />
    <title>Login</title>
    {% load socialaccount %}
    {% providers_media_js %}
    {% load static %}
    <link href="{% static 'login.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    {% if error %}
    <script type="text/javascript">
            alert('{{error}}')
    </script>
    {% endif %}
    <form class="login" method="POST">
        {% csrf_token %}
        <div id="signup_items">
            <div id="ID">ID</div>
            <span><input id="id" type="id"  name="id" placeholder="아이디"><p id="korea">@korea.ac.kr</p></span>
        <div>
        <div id="signup_items">
            <div id="PASSWORD">PASSWORD</div>            
        <input type="password"  name="password" placeholder="비밀번호">
        </div>

        <button type="submit"><p>LOG IN</p></button>

    </form>
    <p style="width: 100%;">만약 계정이 없다면..?</p></span>

    
    <a href="{% url 'signup' %}" style="text-decoration: none;" ><button type="button" style="margin: 0;"><p>SIGN UP</p></button></a>
    

</body>

</html>