<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,
    user-scalable=no" />
    <title>{% block title %} BASE  {% endblock %}</title>
    {% load static %}
    {% block css %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"> -->
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>
<body>
    <div class="tos">
        <div class="top_item">
            <span>내위치</span>
        </div>
        <div>
            <button><a href="{% url 'logout' %}">로그아웃</a></button>
        </div>
    </div>
    {% block content %}
    
    {% endblock %}
    <div class="footer">
        <div class="foot_item">HOME</div>
        <div class="foot_item">NEW</div>
        <div class="foot_item">ALARM</div>
        <div class="foot_item">PLUS</div>
    </div>
</body>

</html>