<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,
    user-scalable=no" />
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <title>HOME</title>

</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-1">
                <div class="alam">
                    
                </div>
                <div class="location">
                    내 위치: {{user.profile.location}}
                    <span></span>
                </div>
                <a href="{% url 'myhome' %}">
                    <div class="myhome">
                        <span class="material-icons"> person </span>
                    </div>
                </a>
               
            </div>
        </div>

        <div class="main">
            <div class="category">
                <div class="category-top">
                    <div class="title">카테고리</div>
                </div>
                    <div class="category-main">
                    <div class="category-content">배달음식</div>
                    <div class="category-content">OTT</div>
                    <div class="category-content">할인행사</div>
                    <div class="category-content">인터넷쇼핑</div>
                    <div class="category-content">기타</div>
                </div>
            </div>
            <div class="locate-recognition">
                <div class="locate-recognition-top">
                    <div class="title">지금 <span>{{user.profile.location}}</span> 근처 에서는...</div>
                </div>
                <div class="locate-recognition-main">
                    <table>
                        {% for food in foods %}
                        {% if food.end == '0' %}
                        <tr class="thumbnail-bar">
                            <td class="thumbnail-bar-category">
                                <p>배달음식</p>
                            </td>
                            <td class="thumbnail-bar-title"><p><a href="{% url 'detail_food' food.pk %}">{{food.title}}</a></p></td>
                            <td class="thumbnail-bar-deadline">~{{food.deadline1}} {{food.deadline2}} </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="all">
                <div class="all-top">
                    <div class="title">전체 배달 음식 N빵</div>
                    <div class="seemore">
                        <a href="{% url 'all_food' %}">
                            <p>더보기</p>
                        </a>
                    </div>
                </div>
                <div class="all-main">
                    <table>
                        {% for food in all_foods %}
                        {% if food.end == '0' %}
                        <tr class="thumbnail-bar">
                            <td class="thumbnail-bar-category">
                                <p>{{food.location}}</p>
                            </td>
                            <td class="thumbnail-bar-title"><p><a href="{% url 'detail_food' food.pk %}">{{food.title}}</a></p></td>
                            <td class="thumbnail-bar-deadline">~{{food.deadline1}} {{food.deadline2}} </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="all">
                <div class="all-top">
                    <div class="title">전체 OTT N빵</div>
                    <div class="seemore">
                        <a href="{% url 'all_ott' %}">
                            <p>더보기</p>
                        </a>
                    </div>
                </div>
                <div class="all-main">
                    <table>
                        {% for ott in all_otts %}
                        {% if ott.end == '0' %}
                        <tr class="thumbnail-bar">
                            <td class="thumbnail-bar-category">
                                <p>{{ott.service}}</p>
                            </td>
                            <td class="thumbnail-bar-title"><p><a href="{% url 'detail_ott' ott.pk %}">{{ott.title}}</a></p></td>
                            <td class="thumbnail-bar-deadline">~{{ott.people}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="all">
                <div class="all-top">
                    <div class="title">전체 할인 행사 N빵</div>
                    <div class="seemore">
                        <a href="{% url 'all_franchise' %}">
                            <p>더보기</p>
                        </a>
                    </div>
                </div>
                <div class="all-main">
                    <table>
                        {% for franchise in all_franchises %}
                        {% if franchise.end == '0' %}
                        <tr class="thumbnail-bar">
                            <td class="thumbnail-bar-category">
                                <p>프렌차이즈</p>
                            </td>
                            <td class="thumbnail-bar-title"><p><a href="{% url 'detail_franchise' franchise.pk %}">{{franchise.title}}</a></p></td>
                            <td class="thumbnail-bar-deadline">~{{franchise.deadline1}} {{franchise.deadline2}} </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            
            

            

            <div class="all">
                <div class="all-top">
                    <div class="title">전체 인터넷 쇼핑 N빵</div>
                    <div class="seemore">
                        <a href="{% url 'all_food' %}">
                            <p>더보기</p>
                        </a>
                    </div>
                </div>
                <div class="all-main">
                    <table>
                        {% for shopping in all_shoppings %}
                        {% if shopping.end == '0' %}
                        <tr class="thumbnail-bar">
                            <td class="thumbnail-bar-category">
                                <p>{{shopping.location}}</p>
                            </td>
                            <td class="thumbnail-bar-title"><p><a href="{% url 'detail_shopping' shopping.pk %}">{{shopping.title}}</a></p></td>
                            <td class="thumbnail-bar-deadline">~{{shopping.deadline1}} {{shopping.deadline2}} </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="all">
                <div class="all-top">
                    <div class="title">전체 기타 N빵</div>
                    <div class="seemore">
                        <a href="{% url 'all_others' %}">
                            <p>더보기</p>
                        </a>
                    </div>
                </div>
                <div class="all-main">
                    <table>
                        {% for other in all_otherss %}
                        {% if other.end == '0' %}
                        <tr class="thumbnail-bar">
                            <td class="thumbnail-bar-category">
                                <p>{{other.location}}</p>
                            </td>
                            <td class="thumbnail-bar-title"><p><a href="{% url 'detail_food' food.pk %}">{{other.title}}</a></p></td>
                            <td class="thumbnail-bar-deadline">~{{other.deadline1}} {{other.deadline2}} </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>


        <div class="footer">
            <a href="{% url 'index' %}">
                <div class="footer-flex2">
                
                    <div class="retry">
                        <span class="material-icons"> cached </span>
                    </div>
                </div>
            </a>
            <a href="{% url 'new_category' %}">
                <div class="footer-flex">
                    <div class="plus">
                        <span class="material-icons">add</span>
                    </div>
                </div>
            </a>

        </div>
    </div>
</body>
</html>