<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="detail.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail</title>
</head>
<body>
    <div class="detail-box">
        <div class="detail-top">
            <div class="exit">
                <span class="material-icons"> clear </span>
            </div>
            <div class="category">
                <p>OTT</p>
            </div>
            <div class="title">
                <h1>왓차 팟 구함</h1>
            </div>
        </div>
        <div class="detail-main">
            <div class="table">
                <table>
                    <th></th>
                    <tr><!--첫번째 줄 시작-->
                        <td class="left"><div>가</div><div>게</div></td>
                        <td class="right">왓챠플레이</td>
                    </tr>
                    <tr><!--두번째 줄 시작-->
                        <td class="left"><div>정</div><div>원</div></td>
                        <td class="right">1/4</td>
                    </tr>
                </table>
            </div>

            <!--여기서부터 일반 유저-->
            <h2>강호랑님, 지금 팟에 참여하시면<br><span class="orange">6,000</span>원을 아낄 수 있어요!</h2>
            <button class="join" href="" type="submit">참가하기</button>

            <!--여기서부터 게시자 only-->
            <div class="for-uploader">
                <button class="edit" href="" type="submit">수정하기</button>
                <button class="magam" href="" type="submit">마감하기</button>
            </div>
        </div>
    </div>
</body>