<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail</title>
    
</head>
<body>
    <div class="detail-box">
        <div class="detail-top">
            <a href="{% url 'all_food' %}">
                <div class="exit">
                    <span class="material-icons"> clear </span>
                </div>
            </a>
            <div class="category">
                <p>기타</p>
            </div>
            <div class="title">
                <h1>호랑이 잠바 공구합니다.</h1>
            </div>
        </div>
        <div class="detail-main">
            <div class="table">
                <table>
                    <th></th>
                    <tr><!--첫번째 줄 시작-->
                        <td class="left"><div>제</div><div>품</div><div>링</div><div>크</div></td>
                        <td>
                            <button>제품 보러가기</button>
                        </td>
                    </tr>
                    <tr><!--두번째 줄 시작-->
                        <td class="left"><div>마</div><div>감</div><div>기</div><div>한</div></td>
                        <td class="right">6월 10일 24:00</td>
                    </tr>
                </table>
            </div>
            <h2>미안하다 이거 보여주려고 어그로끌었다.. 나루토 사스케 싸움수준 ㄹㅇ실화냐? 진짜 세계관최강자들의 싸움이다.. 그찐따같던 나루토가 맞나? 진짜 나루토는 전설이다..진짜옛날에 맨날나루토봘는데 왕같은존재인 호카게 되서 세계최강 전설적인 영웅이된나루토보면 진짜내가다 감격스럽고 나루토 노래부터 명장면까지 가슴울리는장면들이 뇌리에 스치면서 가슴이 웅장해진다..</h2>
            {% if user.is_authenticated and food.author.pk == user.pk %}
            <div class="for-uploader">
                <button class="edit" href="" type="submit">수정하기</button>
                <button class="magam" href="" type="submit">마감하기</button>
            </div>
            {% else %}

            <h2>{{user.profile.nickname}}님, 지금 팟에 참여하시면<br><span class="orange">{{save_money}}</span>원을 아낄 수 있어요!</h2>

            <button class="join" href="" type="submit">참가하기</button>
            {% endif %}
        </div>
    </div>
</body>