<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail</title>
    
</head>
<body>
    <div class="detail-box">
        <div class="detail-top">
            <a href="{% url 'all_others' %}">
                <div class="exit">
                    <span class="material-icons"> clear </span>
                </div>
            </a>
            <div class="category">
                <p>기타</p>
            </div>
            <div class="title">
                <h1>{{others.title}}</h1>
            </div>
        </div>
        <div class="detail-main">
            <div class="table">
                <table>
                    <th></th>
                    <tr><!--첫번째 줄 시작-->
                        <td class="left"><div>제</div><div>품</div><div>링</div><div>크</div></td>
                        <td>
                            <button>제품 보러가기</button>
                        </td>
                    </tr>
                    <tr><!--두번째 줄 시작-->
                        <td class="left"><div>마</div><div>감</div><div>기</div><div>한</div></td>
                        <td class="right">{{others.deadline1}} {{others.deadline2}}</td>
                    </tr>
                </table>
            </div>
            <h2>{{others.memo}}</h2>
            {% if user.is_authenticated and others.author.pk == user.pk %}
            <div class="for-uploader">
                <a href="{% url 'edit_others' others.pk %}">
                    <button class="edit" href="" type="submit">수정하기</button>
                </a>
                <a href="{% url 'magam_others' others.pk %}">
                    <button class="magam" href="" type="submit">마감하기</button>
                </a>
                
            </div>
            {% else %}

            <h2>{{user.profile.nickname}}님, 지금 팟에 참여하시면<br><span class="orange">할인행사로 돈</span>을 아낄 수 있어요!</h2>
            
            <a href="{% url 'getin_others' others.pk %}">
                <button class="join" href="" type="submit">참가하기</button>
            </a>
            
            {% endif %}
            
        </div>
    </div>
</body>