<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myhome.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이홈</title>
</head>
<body>
    <div class="container">
        <dic class="header">
            <div id="header-icon">
                <a href="{% url 'myhome' %}">
                <span class="material-icons">
                keyboard_backspace
                </span>
            </a>
            </div>
            <div id="header-title">내가 만든 팟</div>
            <div id="header-empty"> </div>
        </div>
    <div class="mine-contents">
        {% for food in all_foods %}
        {% if food.author.pk == user.pk %}
        <div class="mine-content">
            <table>
                <tr>
                    <td class="category">배달 음식</td>
                </tr>
                <tr>
                    <td class="title">{{food.title}}</td>
                </tr>
                <tr>
                    <td class="when">{{food.deadline1}} {{food.deadline2}}</td>
                </tr>
            </table>
        </div>
        {% endif %}
        
        {% endfor %}
        {% for franchise in all_franchises %}
        {% if franchise.author.pk == user.pk %}
        <div class="mine-content">
            <table>
                <tr>
                    <td class="category">프랜차이즈</td>
                </tr>
                <tr>
                    <td class="title">{{franchise.title}}</td>
                </tr>
                <tr>
                    <td class="when">{{franchise.deadline1}} {{franchise.deadline2}}</td>
                </tr>
            </table>
        </div>
        {% endif %}
        
        {% endfor %}
        {% for shopping in all_shoppings %}
        {% if shopping.author.pk == user.pk %}
        <div class="mine-content">
            <table>
                <tr>
                    <td class="category">인터넷 쇼핑</td>
                </tr>
                <tr>
                    <td class="title">{{shopping.title}}</td>
                </tr>
                <tr>
                    <td class="when">{{shopping.deadline1}} {{shopping.deadline2}}</td>
                </tr>
            </table>
        </div>
        {% endif %}
        

        {% endfor %}
        {% for ott in all_otts %}
        {% if ott.author.pk == user.pk %}
        <div class="mine-content">
            <table>
                <tr>
                    <td class="category">OTT 서비스</td>
                </tr>
                <tr>
                    <td class="title">{{}}</td>
                </tr>
                <tr>
                    <td class="when">{{ott.deadline1}} {{ott.deadline2}}</td>
                </tr>
            </table>
        </div>
        {% endif %}
        
        {% endfor %}
        {% for others in all_otherss %}
        {% if others.author.pk == user.pk %}
        <div class="mine-content">
            <table>
                <tr>
                    <td class="category">기타</td>
                </tr>
                <tr>
                    <td class="title">{{others.title}}</td>
                </tr>
                <tr>
                    <td class="when"></td>
                </tr>
            </table>
        </div>
        {% endif %}
       
        {% endfor %}
        
    </div>
</body>
</html>