<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myhome.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,
    user-scalable=no" />
    <title>마이홈</title>
</head>
<body>
    <div class="container">
        <dic class="header">
            <div id="header-icon">
                <a href="{% url 'index' %}">
                <span class="material-icons">
                keyboard_backspace
                </span>
            </a>
            </div>
            <div id="header-title">나의 N빵</div>
            <div id="header-empty"> </div>
        </div>

        <div class="profile">
            <div class="profile-photo">
                <img src="{% static 'logo.png' %}">
            </div>
            <div class="profile-text">
                <h1><span>{{user.profile.nickname}}</span>님,</h1>
                <h2>지금까지 <span>{{user.profile.money}}</span>원을 아끼셨어요!</h2>
            </div>
        </div>

        <div class="credibility">
            <h3><span>{{user.profile.nickname}}</span>님의 신뢰도</h3>
            <div class="credibility-bread">
                <div>빵</div><div>빵</div><div>빵</div><div>빵</div><div>빵</div></div>
            <h4>엄청난 신뢰를 받고 있는 당신!</h4>
        </div>

        <div class="nav">
            <a href="{% url 'mine' %}">
                <div class="nav-mine">내가 모집한 팟</div>
            </a>
            <a href="{% url 'getin' %}">
                <div class= "nav-getin">내가 참가한 팟</div>
            </a>
            <a href="{% url 'editprofile' %}">
                <div class="nav-profileedit">회원 정보 수정</div>
            </a>
            <a href="{% url 'logout' %}">
                <div class="nav-profileedit">로그 아웃</div>
            </a>
            
        </div>
    </div>
    
</body>
</html>