<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myhome.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이홈-회원정보수정</title>
</head>
<body>
    <div class="container">
        <dic class="header">
            <div id="header-icon">
                <a href="{% url 'myhome' %}">
                <span class="material-icons">
                keyboard_backspace
                </span>
            </a>
            </div>
            <div id="header-title">회원 정보 수정</div>
            <div id="header-empty"> </div>
        </div>
        
        <div class="profile">
            <div class="profile-photo">
                <img src="{{user.profile.img}}">
            </div>
            <button class="editprofile-photo"><span class="material-icons">settings</span></button>
        </div>

        <div class="editprofile-nickname">
            <p>닉네임:</p>
            <input type="text" placeholder="닉네임" value="{{user.profile.nickname}}">
        </div>
        <form method="POST">
            {% csrf_token %}
            <a href="{% url 'delete_user' %}">
                <button class="delete-account" type="submit">회원 탈퇴</button>
            </a>
            
            
        </form>
        
        
    </div>
</body>