<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="myhome.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이홈-회원정보수정</title>
</head>
<body>
    <div class="container">
        <dic class="header">
            <div id="header-icon">
                <a href="home.html">
                <span class="material-icons">
                keyboard_backspace
                </span>
            </a>
            </div>
            <div id="header-title">회원 정보 수정</div>
            <div id="header-empty"> </div>
        </div>
        
        <div class="profile">
            <div class="profile-photo">
                <img src="https://postfiles.pstatic.net/MjAyMDA2MDZfMjE3/MDAxNTkxNDI4NTEyNDM3.xahFgbS3lCI7wcetK9DQ64eUZRpBfBVt5zt0Sxs_U1Ig.xW2h2quiVaXTM32ktRIASgLacUcNit7ywZ0mnrxe71Qg.PNG.tojay24/%EC%97%94%EB%B9%B5-%EB%B9%B5.png?type=w966">
            </div>
            <button class="editprofile-photo"><span class="material-icons">settings</span></button>
        </div>

        <div class="editprofile-nickname">
            <p>닉네임:</p>
            <input type="text" placeholder="닉네임" value="{{ ~~~.~~~ }}">
        </div>

        <button class="delete-account">회원 탈퇴</button>
    </div>
</body>