<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="myhome.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이홈</title>
</head>
<body>
    <div class="container">
        <dic class="header">
            <div id="header-icon">
                <a href="home.html">
                <span class="material-icons">
                keyboard_backspace
                </span>
            </a>
            </div>
            <div id="header-title">내가 만든 팟</div>
            <div id="header-empty"> </div>
        </div>
    <div class="mine-contents">
        <div class="mine-content">
            <table>
                <tr>
                    <td class="category">법대후문</td>
                </tr>
                <tr>
                    <td class="title">왓챠 팟 구함</td>
                </tr>
                <tr>
                    <td class="when">10분 전</td>
                </tr>
            </table>
            <button class="lets_evaluate">신뢰도<br>평가하기</button>
        </div>

        <div class="mine-content">
            <table>
                <tr>
                    <td class="category">법대후문</td>
                </tr>
                <tr>
                    <td class="title">왓챠 팟 구함</td>
                </tr>
                <tr>
                    <td class="when">10분 전</td>
                </tr>
            </table>
            <button class="lets_evaluate">신뢰도<br>평가하기</button>
        </div>
    </div>
</body>
</html>