body{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.top{
    background-color: aquamarine;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.top_item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.footer{
    background-color: aqua;
    height: 10%;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot_item{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}