body {
    margin: 0;
    width: 100%;
    height: auto;
    background-color: rgba(255, 174, 103, 0.15)
}
header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 58px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
}

#header-icon {
    display: flex;
    width: 33.33%;
    box-sizing: border-box;
    padding-left: 20px;
}

span {
    width: 20px;
    height: 20px;
    color: #ac5910;
}

#header-title {
    display: flex;
    width: 33.33%;
    font-family: KoPubWorldDotum;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: normal;
    text-align: center;
    color: #202020;
    justify-content: center;
}

#header-empty {
    display: flex;
    width: 33.33%;
}

main {
    width: 100%;

}

select {
    display: flex;
    padding-left: 20px;
    border: none;
    background-color: transparent;
    font-family: KoPubWorldDotum;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;   
}

select::-ms-expand {
    display: none;
}
    
option {
    font-family: KoPubWorldDotum;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.select-location {
    position: relative;
}

.select-location select {
    display: none;
}

.select-box {
    display: flex;
    margin-left: 62%;
    margin-top: 3.32%;
}

#select-more {
    display: flex;
    width: 18px;
    height: 18px;
    position: relative;
    left: 18px;
}

.post-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    display: flex;
    flex-direction: column;
    width: 89.333%;
    height: 12.315%;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding-left: 6.2687%;
    padding-top: 18px;
    padding-right: 6.2687%;
    padding-bottom: 20px;
}

tr {
    display: flex;
}

td {
    display: flex;
}

#tr-1 {
    width: 56px;
    height: 20px;
    opacity: 0.56;
    font-family: KoPubWorldDotum;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

#tr-2 {
    width: 295px;
    height: 31px;
    font-family: KoPubWorldDotum;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

#tr-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#td-time {
    display: flex;
    opacity: 0.56;
    font-family: KoPubWorldDotum;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

#td-deadline {
    display: flex;
    opacity: 0.62;
    font-family: KoPubWorldDotum;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: right;
    color: #ff0000;
}
/**/
#tr{
    width: 90%;
    font-family: KoPubWorldDotum;
}

#left p{
    text-align: right;
    margin: 0px;
}

#detail-box{
    width: 90%;
    border-radius: 20px;
    margin: 20px;
    background-color: #ffae66;
    display: flex;
    flex-direction: column;
}

#detail-top{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#detail-main{
    background-color: #ffffff;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#exit{
    margin: 20px 20px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #ac5910;;
}

#category{
    margin: 0px;
}

p{
    opacity: 0.56;
    font-family: KoPubWorldDotum;
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin: 0px;
}

h1{
    font-family: KoPubWorldDotum;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}

#h2.col-xs-12{
    padding: 0px;
}

#title{
    font-family: KoPubWorldDotum;
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
}

#h2{
    width: 80%;
    font-family: KoPubWorldDotum;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

#join{
    width: 148px;
    height: 50px;
    border-radius: 20px;
    background-color: #ffae66;
    border-style: none;
    font-family: KoPubWorldDotum;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}


#table{
    width: 210px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: KoPubWorldDotum;
}

#left{
    font-size: 15px;
    width: 40%;
    display: flex;
    text-align: right;
}

#right{
    font-weight: bold;
}

#orange{
    font-family: KoPubWorldDotum;
    font-size: 20px;
    font-weight: bold;
    color: #ff7800;
}

#edit{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border-style: none;
    font-family: KoPubWorldDotum;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
    background-color: #e2e2e2;
}

#magam{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: #ffae66;
    border-style: none;
    font-family: KoPubWorldDotum;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

#get-in{
    width: 148px;
    height: 50px;
    border-radius: 20px;
    background-color: #ffae66;
    border-style: none;
    font-family: KoPubWorldDotum;
    font-size: 20px;
    font-weight: bold;
    margin: 25px 0px;
}

#evaluate{
    width: 148px;
    height: 50px;
    border-radius: 20px;
    background-color: #ffae66;
    border-style: none;
    font-family: KoPubWorldDotum;
    font-size: 20px;
    font-weight: bold;
    margin: 25px 0px;
}


#detail-main-evaluate p{
    font-size: 20px;
    font-weight: 300;
    color: #502600;
    margin-top: 30px;
    margin-bottom: 20px;
}

#detail-main-evaluate p span{
    font-weight: bold;
}

#credibility{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

img{
    width: 17%;
}

.col-xs-12{
    margin-top: 25px;
}

#left.col-xs-5{
    padding: 0px 0px 0px 50px;
}

#detail-main.modal-body{
    padding: 30px 0px 0px 0px;
}

.modal-header{
    height: 132px;
}