html{
    background-color: #FFF3E8;
    margin: 0px;
}

body{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* header header header header header header header header */
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    height: 58px;
    justify-content: space-around;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.header-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.alam{
    color: #ffc591;
    font-size: 20px;
    margin-left: 20px;
}

.location{
    font-family: KoPubWorldDotum;
    font-size: 20px;
    font-weight: bold;
}

.myhome{
    color: #ffc591;
    font-size: 20px;
    margin-right: 20px;
}



/* main main main main main main main main main main main */
.main{
    font-family: KoPubWorldDotum;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 3%;
}


.category{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0px;
    width: 100%;
}

.category-top{
}

.category-main{
    display: flex;
    flex-direction: row;
    margin: 0px;
    justify-content: space-around;
}

.category-content{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-content p{
    font-size: 10px;
    text-align: center;
}
.category-content-1{
    width: 100%;
    padding-bottom: 100%;
    border-radius: 10px;
    background-color: #ffc591;
    background-image: url("https://image.flaticon.com/icons/svg/2947/2947526.svg");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center center;
}

.category-content-2{
    width: 100%;
    padding-bottom: 100%;
    border-radius: 10px;
    background-color: #ffc591;
    background-image: url("https://image.flaticon.com/icons/svg/1170/1170586.svg");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center center;
}

.category-content-3{
    width: 100%;
    padding-bottom: 100%;
    border-radius: 10px;
    background-color: #ffc591;
    background-image: url("https://image.flaticon.com/icons/svg/884/884268.svg");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center center;
}

.category-content-4{
    width: 100%;
    padding-bottom: 100%;
    border-radius: 10px;
    background-color: #ffc591;
    background-image: url("https://image.flaticon.com/icons/svg/2919/2919940.svg");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center center;
}

.category-content-5{
    width: 100%;
    padding-bottom: 100%;
    border-radius: 10px;
    background-color: #ffc591;
    background-image: url("https://image.flaticon.com/icons/svg/660/660662.svg");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center center;
}

.locate-recognition{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 100%;
}

.locate-recognition-top{

}


.locate-recognition-main{
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 20px;
    background-color: #ffffff;  
    padding: 15px 15px 7px 15px;
}



.all{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 100%;
}


.all-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.all-main{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 90%;
    border-radius: 20px;
    background-color: #ffffff;  
    padding: 15px 15px 7px 15px;
}


/* 썸네일 바 썸네일 바 썸네일 바 썸네일 바 썸네일 바*/
.thumbnail-bar{
    display: flex;
    flex-direction: row;
    margin-bottom: 13px;
    justify-content: space-between;
    align-items: center;
}

.thumbnail-bar-category{
    font-size: 10px;
    text-align: center;
    width: 18.64%;
    height: 20px;
    border-radius: 13px;
    border: solid 1px #707070;
    margin-right: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thumbnail-bar-title{
    width: 60%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.thumbnail-bar-title p{
    margin: 0px;
    text-align: left;
}

.thumbnail-bar-deadline{
    width: 16%;
    color: #e01e1e;
    margin-left: 7px;
    font-size: 15px;
}






/* footer footer footer footer footer footer footer */

.footer{
    position: fixed;
    bottom: 30px;
    right: 30px;
}


.footer-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ff9333;
    border-radius: 50%;
}

.plus{
    color: white;
}

.title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.seemore{
    width: 66px;
    height: 24px;
    border-radius: 50px;
    border: solid 1px #381414;
    background-color: #ffffff;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.footer-flex2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #FFC591;
    border-radius: 50%;
    margin-bottom: 15px;
}

.retry span{
    color: white;
}