body {
    width: 100%;
    height: 812px;
    background-color: #ff9333;
    box-sizing: border-box;
}

.login {
    display: flex;
    flex-direction: column;
    width:100%;
    height: 483px;
    box-sizing: border-box;
    margin-top: 167px;
    justify-content: center;
    align-items: center;
}

#signup_items {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

#ID {
    width: 15px;
    height: 20px;
    font-family: KoPubWorldDotum;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 14px;
}

#id {
    width: 146px;
    height: 38px;
    border-radius: 5px;
    background-color: #ffead7;
}

#PASSWORD {
    width: 75px;
    height: 20px;
    font-family: KoPubWorldDotum;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 14px;
    margin-top: 10px;
}



input {
    width: 291px;
    height: 38px;
    border-radius: 5px;
    background-color: #ffead7;
    margin-top: 11px;
    border-style:none;
}

input::placeholder {
    opacity: 0.59;
    font-family: KoPubWorldDotum;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #000000; 
    padding-left: 14px;
}

button {
    display: flex;
    width: 291px;
    height: 71px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    margin-top: 260px;
    box-sizing: border-box;
    border-style:none;
}

p {
    display: flex;
    width: 59px;
    height: 23px;
    font-family: KoPubWorldDotum;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

span {
    display: flex;
    width: 138px;
    height: 38px;
    font-family: KoPubWorldDotum;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: normal;
    text-align: left;
    color: #271919;
    align-items: center;
    
    
}

#korea {
    display: flex;
    margin-left: 10px;
    font-family: KoPubWorldDotum;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: normal;
    text-align: left;
    color: #271919;
}