<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css'>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,
    user-scalable=no" />
    <title>edit-배달음식</title>
</head>
<body>
    <div class="container">
        <a href="{% url 'new_category' %}">
            <div class="exit">
                <span class="material-icons">arrow_back</span>
            </div>
        </a>
        
        <form method="POST">
            {% csrf_token %}
            <div class="input-form">
                <h1>배달음식</h1>
                <input type="text" placeholder="제목" required name="title" value="{{food.title}}">
                <h2>팟 위치</h2>
                <select class="locations" name="location">
                    <option value="참살이길">참살이길</option>
                    <option value="정대후문">정대후문</option>
                    <option value="이공계">이공계</option>
                    <option value="안암오거리">안암오거리</option>
                    <option value="제기동">제기동</option>
                    <option value="고대사거리">고대사거리</option>
                    <option value="정문앞">정문앞</option>
                    <option value="법대후문">법대후문</option>
                </select>
                <h2>언제까지 팟을 구하실 건가요?</h2>
                <div class="monthandday">
                    <div class="month-div">
                    <select class ="month" name="month" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <h1>  월</h1>                 
                    </div>
                    <div class="day-div">
                    <select class="day" name="day" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                    <h1>  일</h1>
                    </div>
                    </div>
                <input type="time" name="time" pattern="([1]?[0-9]|2[0-3]):[0-5][0-9]"/>
                <input type="text" name="appLink" placeholder="앱 링크 (ex. 배민, 요기요 링크를 그대로 복사해서 붙여주세요)" required value="{{food.appLink}}">
                <input type="text" numberOnly placeholder="남은 금액" name="left" required value="{{food.left}}">
                <input type="text" numberOnly placeholder="배달팁" name="baedalTip" required value="{{food.baedalTip}}">
                <input type="text" name="kakaoLink" placeholder="오픈카톡방 링크" required value="{{food.kakaoLink}}">
                <input type="text" name="memo" placeholder="메모(선택)" value="{{food.memo}}">
            </div>
            <button type="submit">게시하기</button>
        </form>
    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function addCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
 
    function removeCommas(x) {
        if(!x || x.length == 0) return "";
        else return x.split(",").join("");
    }

    $("input:text[numberOnly]").on("focus", function() {
        var x = $(this).val();
        x = removeCommas(x);
        $(this).val(x);
    }).on("focusout", function() {
        var x = $(this).val();
        if(x && x.length > 0) {
            if(!$.isNumeric(x)) {
                x = x.replace(/[^0-9]/g,"");
            }
            x = addCommas(x);
            $(this).val(x);
        }
    }).on("keyup", function() {
        $(this).val($(this).val().replace(/[^0-9]/g,""));
    });
</script>