<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모든 OTT 서비스 팟</title>
    {% load static %}
    <link href="{% static 'category-base.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div id="header-icon">
            <a href="{% url 'index' %}">
            <span class="material-icons">
            keyboard_backspace
            </span>
        </a>
        </div>
        <div id="header-title">OTT 서비스</div>
        <div id="header-empty"> </div>
    </header>
    <main>
        <div class="post-table">
        {% for ott in otts %}
        <div class="modal fade" id="{{ott.pk}}" role="dialog"> 
            <div class="modal-dialog">
                <div class="modal-content" id="detail-box">
                    <div class="modal-header" id="detail-top">
                        <div class="exit" id="exit">
                            <button type="button" class="close" data-dismiss="modal">
                                <span class="material-icons"> clear </span>
                            </button>
                        </div>
                        
                        <p class="modal-title category" id="category">OTT</p> 
                        <div id="title">
                            <h1>{{ott.title}}</h1>
                        </div>
                    </div>
        
                    <div class="modal-body" id="detail-main">
                        <div class="row" id="tr">
                            <div class="col-xs-5" id="left"><p>서비스</p></div>
                            <div class="col-xs-7" id="right">{{ott.service}}</div>
                        </div>
                        <div class="row" id="tr">
                            <div class="col-xs-5" id="left"><p>남은 정원</p></div>
                            <div class="col-xs-7" id="right">{{ott.people}}</div>
                        </div>
                        <div class="row" id="tr">
                            <div class="col-xs-12" id="h2">{{user.profile.nickname}}님, 지금 팟에 참여하시면<br> <span id="orange">4,000원</span>을 아낄 수 있어요!</div>
                        </div>
                        {% if user.is_authenticated and ott.author.pk == user.pk %}
                        <div class="row" id="tr">
                            <div class="col-xs-6" id="h2">
                                <a href="{% url 'edit_ott' ott.pk %}">
                                    <button id="edit">수정하기</button>
                                </a>
                            </div>
                            <div class="col-xs-6" id="h2">
                                <a href="{% url 'magam_ott' ott.pk %}">
                                    <button id="magam">마감하기</button>
                                </a>
                            </div>
                        </div>
                        {% else %}
                        <div class="row" id="tr">
                            <div class="col-xs-12" id="h2"><button id="join">참가하기</button></div>
                        </div>
                        {% endif %}
                       
                    </div>
                </div>
            </div>
        </div>
            <table>
                <tr id="tr-1"> 
                    <td>{{ott.location}}</td>
                </tr>
                <tr id="tr-2"> 
                    <td><button type="button"  data-toggle="modal" data-target="#{{ott.pk}}" style="border: none; background-color: white; display:flex; justify-contents:center; align-items:center;">{{ott.title}}</button></td>
                </tr>
                <tr id="tr-3"> 
                    <td id="td-time">{{ott.time}}</td>
                    <td id="td-deadline"> <strong>마감</strong>{{ott.deadline1}}</td>
                </tr>
            </table>
        {% endfor %}
    </div>
    </main>
</body>
</html>