<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모든 배달 팟</title>
    {% load static %}
    <link href="{% static 'category-base.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div id="header-icon">
            <a href="{% url 'index' %}">
            <span class="material-icons">
            keyboard_backspace
            </span>
        </a>
        </div>
        <div id="header-title">배달 음식</div>
        <div id="header-empty"> </div>
    </header>
    <main>
        <div class="post-table">
        
        {% for food in foods %}
            {% if food.end == '0' %}
            <table>
                <div class="modal fade" id="{{food.pk}}" role="dialog"> 
                    <div class="modal-dialog">
                        <div class="modal-content" id="detail-box">
                            <div class="modal-header" id="detail-top">
                                <div class="exit" id="exit">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span class="material-icons"> clear </span>
                                    </button>
                                </div>
                                
                                <p class="modal-title category" id="category">배달음식</p> 
                                <div id="title">
                                    <h1>{{food.title}}</h1>
                                </div>
                            </div>
                
                            <div class="modal-body" id="detail-main">
                                <div class="row" id="tr">
                                    <div class="col-xs-5" id="left"><p>가게</p></div>
                                    <div class="col-xs-7" id="right">{{food.shop}}</div>
                                </div>
                                <div class="row" id="tr">
                                    <div class="col-xs-5" id="left"><p>필요금액</p></div>
                                    <div class="col-xs-7" id="right">{{food.left}}</div>
                                </div>
                                <div class="row" id="tr">
                                    <div class="col-xs-5" id="left"><p>메뉴</p></div>
                                    <div class="col-xs-7" id="right">
                                        <a href="{{food.appLink}}">
                                            <button>메뉴 보러가기</button>
                                        </a>
                                    </div>
                                </div>
                                <div class="row" id="tr">
                                    <div class="col-xs-5" id="left"><p>마감기한</p></div>
                                    <div class="col-xs-7" id="right">{{food.deadline1}}/{{food.deadline2}} </div>
                                </div>
                                <div class="row" id="tr">
                                    <div class="col-xs-5" id="left"><p>위치</p></div>
                                    <div class="col-xs-7" id="right">법대후문</div>
                                </div>
                                <div class="row" id="tr">
                                    <div class="col-xs-12" id="h2">{{user.profile.nicknbame}}님, 지금 팟에 참여하시면<br> <span id="orange">{{food.baedalTip}}</span>을 아낄 수 있어요!</div>
                                </div>
                                {% if user.is_authenticated and food.author.pk == user.pk %}
                                <div class="row" id="tr">
                                    <div class="col-xs-6" id="h2">
                                        <a href="{% url 'edit_food' food.pk %}">
                                            <button id="edit">수정하기</button>
                                        </a>
                                    </div>
                                    <div class="col-xs-6" id="h2">
                                        <a href="{% url 'magam_food' food.pk %}">
                                            <button id="magam">마감하기</button>
                                        </a>
                                    </div>
                                </div>
                                {% else %}
                                <div class="row" id="tr">
                                    <div class="col-xs-12" id="h2"><button id="join">참가하기</button></div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                
                <tr id="tr-1"> 
                    <td>{{food.location}}</td>
                </tr>
                <tr id="tr-2">
                    <td><button type="button"  data-toggle="modal" data-target="#{{food.pk}}" style="border: none; background-color: white; display:flex; justify-contents:center; align-items:center;">{{food.title}}</button></td>
                </tr>
                <tr id="tr-3"> 
                    <td id="td-time">{{food.deadline2}}</td>
                    <td id="td-deadline"> <strong>마감</strong>{{food.deadline1}}</td>
                </tr>
            </table>
            {% endif %}
        {% endfor %}
    </div>
    </main>
</body>
</html>